body,
html,
#root {
  height: 100nvh;
}

html {
  font-size: 18px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

h1 {
  padding: 0.77rem 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.88rem;
  color: #fff;
  margin: 0;
  width: 100%;
}

h1 .highlight {
  color: #ff0000;
}

h1 .yellow {
  color: #f6ff00;
}

h1 .green {
  color: #009812;
}



.user-name {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  right: 0;
  top: 50%;
  width: fit-content;
  position: absolute;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100nvh;
  padding: 0 17% 10% 17%;
  background-image: url("../Resources/clubscene.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
