body,
html,
#root {
  height: 100vh;
  margin: 0;
}

html {
  font-size: 18px;
  min-height: 100vh;
}

.header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

h1 {
  padding: 0.77rem 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.88rem;
  color: #fff;
  margin: 0;
  top: 10px;
}

h1 .highlight {
  color: #ff0000;
}

h1 .yellow {
  color: #f6ff00;
}

h1 .green {
  color: #009812;
}

.user-name {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  right: 10px;
  top: 30px;
  width: fit-content;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.55rem;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 0 17% 10% 17%;
  background-image: url("../Resources/clubscene.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #fff;
  box-sizing: border-box;
}

.main {
  width: 100%;
  max-width: 1200px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin: 0 auto;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 75%;
  align-items: flex-start;
  box-sizing: border-box;
}

@media only screen and (max-width: 769px) {
  .App {
    padding: 0 5% 10% 5%;
    background-attachment: scroll;
  }

  .main {
    height: fit-content;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (min-width: 770px) {
  body,
  html,
  #root {
    overflow: hidden;
  }
}
