.Playlist {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 45%;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
  padding: 0.5rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 0 0 #000000;
  border-radius: 8px;
  box-sizing: border-box;
}

.Playlist input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #6f6f6f;
  font-family: "Poppins", sans-serif;
  font-size: 1.55rem;
  color: #fff;
  text-align: center;
}

.Playlist-save {
  cursor: pointer;
  width: 10rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  border-width: 0px;
  margin: 10px auto;
  background-color: #09ce20;
  text-align: center;
  font-size: 0.83rem;
  transition: background-color 0.25s;
  color: #fff;
  font-weight: 500;
  position: fixed;
}

.Playlist-save:hover {
  background-color: #fbff18;
  transform: scale(1.03);
  color: rgba(65, 0, 97, 1);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 769px) {
  .Playlist {
    width: 95%;
    height: 300px;
  }
}
