.SearchResults {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 45%;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
  padding: 0.5rem;
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0px 4px 0px 0px #000000;
  border-radius: 8px;
  box-sizing: border-box;
}

.SearchResults h2 {
  margin: 0px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 769px) {
  .SearchResults {
    width: 95%;
    margin-bottom: 2rem;
    height: 300px;
  }
}

.SearchResults h2 {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #6f6f6f;
  font-family: "Poppins", sans-serif;
  font-size: 1.55rem;
  font-weight: 200;
  color: #fff;
}
