.SearchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.SearchBar input {
    width: 287px;
    padding: .5rem 0;
    border: 1px solid #fff;
    border-radius: 8px;
    margin-bottom: 1rem;
    color: #010c3f;
    text-align: center;
    font-size: 1rem;
    border-radius: 8px;
    box-shadow: 4px 4px 0px 0 #000000;
}

.SearchBar input:focus {
    outline: none;
}

.SearchButton {
    cursor: pointer;
    width: 8.11rem;
    padding: .77rem 0;
    border-radius: 54px;
    background-color: #09ce20;
    text-align: center;
    font-size: .833rem;
    transition: background-color .25s;
    border: 0px;
    color: #fff;
    font-weight: 500;
    margin-top: 5px;
}
 
.SearchButton:hover {
    background-color: #fbff18;
    transform: scale(1.03);
    color:rgba(65, 0, 97, 1);
}