.SearchResults {
    width: 45%;
    height: 380px;
    overflow-y: scroll;
    padding: .5rem;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 1020px) {
    .SearchResults {
        width: 90%;
        margin-bottom: 2rem;
        height: fit-content;
        min-height: 250px;
    }
}

.SearchResults h2 {
        width: 100%;
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid #6f6f6f;
        font-family: 'Poppins', sans-serif;
        font-size: 1.55rem;
        font-weight: 200;
        color: #fff;
    }