.Track {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(256, 256, 256, 0.8);
    width: 100%;
}

.Track-action {
    cursor: pointer; 
    padding: .5rem;
    font-size: 1.05rem;
    transition: color .25s;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #00a814;
}

.Track-action2 {
    cursor: pointer;
    padding: .5rem;
    font-size: 1.05rem;
    transition: color .25s;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #ff0000;
}

.Track-action:hover {
    font-size: 1.35rem;
}

.Track-action2:hover {
    font-size: 1.35rem;
}

.Track-information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.Track-information h3 {
    margin-bottom: .22rem;
}

.Track-information p {
    font-size: .83rem;
    font-weight: 300;
    color: rgba(256, 256, 256, 0.8);
}